In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('diamonds.csv')

In [3]:
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [15]:
df.tail(6)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
53934,53935,0.72,Premium,D,SI1,62.7,59.0,2757,5.69,5.73,3.58
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [5]:
df.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [9]:
df.dtypes

Unnamed: 0      int64
carat         float64
cut            object
color          object
clarity        object
depth         float64
table         float64
price           int64
x             float64
y             float64
z             float64
dtype: object

In [10]:
df.count()

Unnamed: 0    53940
carat         53940
cut           53940
color         53940
clarity       53940
depth         53940
table         53940
price         53940
x             53940
y             53940
z             53940
dtype: int64

In [13]:
df['carat'].min()

0.20000000000000001

In [24]:
df ['carat'].max

<bound method Series.max of Unnamed: 0
1        0.23
2        0.21
3        0.23
4        0.29
5        0.31
6        0.24
7        0.24
8        0.26
9        0.22
10       0.23
11       0.30
12       0.23
13       0.22
14       0.31
15       0.20
16       0.32
17       0.30
18       0.30
19       0.30
20       0.30
21       0.30
22       0.23
23       0.23
24       0.31
25       0.31
26       0.23
27       0.24
28       0.30
29       0.23
30       0.23
         ...
53911    0.70
53912    0.57
53913    0.61
53914    0.80
53915    0.84
53916    0.77
53917    0.74
53918    0.90
53919    0.76
53920    0.76
53921    0.70
53922    0.70
53923    0.70
53924    0.73
53925    0.73
53926    0.79
53927    0.71
53928    0.79
53929    0.79
53930    0.71
53931    0.71
53932    0.71
53933    0.70
53934    0.70
53935    0.72
53936    0.72
53937    0.72
53938    0.70
53939    0.86
53940    0.75
Name: carat, Length: 53940, dtype: float64>

In [18]:
df.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [20]:
df.index = df['Unnamed: 0']

In [21]:
df.iloc[53939]

Unnamed: 0    53940
carat          0.75
cut           Ideal
color             D
clarity         SI2
depth          62.2
table            55
price          2757
x              5.83
y              5.87
z              3.64
Name: 53940, dtype: object

NameError: name 'df_nohead' is not defined